@import './variable.scss';
@import './hl_theme.scss';
html, body {
  height: 100%;
  color: $main-c;
}
#app {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.menu {
  width: 200px;
  height: 100%;
  overflow: auto;
  border-right: 1px solid $border-c;
}
.content {
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 10px;
  h2 {
    margin-bottom: 10px;
    padding: 10px;
    background: $bg-c;
  }
  .update-time, .type {
    margin-right: 10px;
    color: $light-c;
    &:before {
      content: '更新时间：';
      color: $main-c;
    }
  }
  .type:before {
    content: '文章类型：';
  }
  .kw {
    display: inline-block;
    margin: 5px;
    padding: 0 5px;
    font-size: 12px;
    border: 1px solid $theme-c;
    border-radius: 8px;
    color: $theme-c;
  }
  blockquote {
    margin: 10px;
    padding: 10px 20px;
    background-color: $bg-c;
    color: $light-c;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.match-kw {
  color: $theme-c;
}
